<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wiess Room Reservation System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/res/css/main.css"></link>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css"></link>
    <script src="res/js/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/gcal.js"></script>
    <script>
      var email = "";
      var CLIENT_ID = '{{OAuthAPIKEY}}';
      var SCOPES = ["https://www.googleapis.com/auth/plus.profile.emails.read", "https://www.googleapis.com/auth/calendar"];
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
          }, handleAuthResult);
      }
      /**
       * Handle response from authorization server.
       *
       * @param {Object} authResult Authorization result.
       */
      function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          $("#authorize-div").hide();
          $("#content").show();
          getEmail();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
          $("#authorize-div").show();
          $("#content").hide();
        }
      }
      function getEmail(){
        gapi.client.load('plus', 'v1', function() {
          gapi.client.plus.people.get({userId: 'me'}).execute(function(resp) {
            // Shows profile information
            email = resp["emails"][0]["value"];
            getEvents(email)
          })
        });
      }
      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <script src="res/js/addToGCal.js"></script>
    <script src="res/js/approve.js"></script>
</head>
<body style="text-align: center;">
  <div id="authorize-div" style="display: none; margin-top: 150px;">
    <span>Authorize access to Google Calendar API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <br>
    <br>
    <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div>
  <div id="content" class="container-fluid">
    <div id="leftpane" class="taskpane col-md-7">
      <h1>Wiess Room Reservation Calendar</h1>
      <div id="cal"></div>
    </div>
    <div id="rightpane" class="taskpane col-md-4">
      <h2>Pending Reservations</h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#noconflict" aria-controls="noconflict" role="tab" data-toggle="tab">Ready to Add <span id="noconflict-badge" class="badge"></span></a></li>
          <li role="presentation"><a href="#conflict" aria-controls="conflict" role="tab" data-toggle="tab">Conflicted&#9;<span id="conflict-badge" class="badge"></span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="noconflict"></div>
          <script id="noconflict-template" type="text/x-handlebars-template">
            \{{#each no_conflict}}
              <div class="conflict-group">
                <div class="event-box" id="\{{_id}}">
                  <div class="event-butt">
                    <br>
                    <button type="button" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                    <br>
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                  <h3>\{{eventName}}</h3>
                  <h4>\{{room}}</h4>
                  Reserved by <u><a href="mailto:\{{email}}" target="_blank">\{{reserver}}</a></u> for:
                  <br>
                  <i>\{{why}}</i>
                  <br>
                  <b>Start:</b> \{{time start}}
                  <br>
                  <b>End:</b> \{{time end}}
                </div>
                <br>
              </div>
              <hr>
            \{{/each}}
          </script>
          <div role="tabpanel" class="tab-pane" id="conflict"></div>
          <script id="conflict-template" type="text/x-handlebars-template">
            \{{#each conflict_list}}
              <div class="conflict-group">
                \{{#each this}}
                  <div class="event-box" id="\{{res._id}}">
                    \{{#if editable}}
                      <div class="event-butt">
                        <br>
                        <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                        <br>
                        <button type="button" class="btn btn-danger">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                      </div>
                    \{{/if}}
                    <h3>\{{res.eventName}}</h3>
                    <h4>\{{res.room}}</h4>
                    Reserved by <u><a href="mailto:\{{email}}" target="_blank">\{{reserver}}</a></u> for:
                    <br>
                    <i>\{{res.why}}</i>
                    <br>
                    <b>Start:</b>\{{res.start}}
                    <br>
                    <b>End:</b>\{{res.end}}
                  </div>
                  <br>
                \{{/each}}
              </div>
              <hr>
            \{{/each}}
          </script>
        </div>
    </div>
  </div>
</body>
</html>
